.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1A237E;
    margin: 0 auto;
    text-align: center;
    overflow-x: hidden;
    z-index: 1;
}

.sidenav .note-title-section {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    text-align: left;
    width: 100%;
}

/* If it is mobile device show X icons*/
@media (max-width: 767px) {
    .sidenav .close-icon {
        visibility: visible !important;
    }
}

/* Show hovering effect on devices greater than 768px */
@media (min-width: 768px) {
    .sidenav .note-title-section:hover {
        color: #ffffff;
        background: #f54d4d;
    }

    .sidenav .note-title-section:hover .close-icon {
        visibility: visible;
    }

}

.sidenav .close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    visibility: hidden;
    font-weight: 800;
    font-size: 18px;
    background: #ffffff;
    width: 27px;
    text-align: center;
    color: #f54d4d;
    border-radius: 25px;
}

.sidenav .search-section{
    margin: 10px 0px;
    width: 100%;
    height: 40px;
}

.sidenav .close-icon-main{
    float: right;
    padding-right: 3px;
    font-size: 30px;
    color: #ffffff;
    background: #f54d4d;
    border-radius: 42px;
    width: 45px;
    margin: 7px;
    cursor: pointer;
}