.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1A237E;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
}

.sidenav .note-title-section {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
    text-align: left;
    width: 100%;
}

.sidenav .note-title-section:hover {
    color: #ffffff;
    background: #f54d4d;
}

.sidenav .note-title-section:hover .close-icon {
    visibility: visible;
}

.close-icon{
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    visibility: hidden;
    font-size: 18px;
    color: #000000;
    font-weight: 800;
}

.search-section{
    margin: 10px 0px;
    width: 100%;
    height: 40px;
}

.close-icon-main{
    float: right;
    padding-right: 3px;
    font-size: 30px;
    color: #ffffff;
    background: #f54d4d;
    border-radius: 42px;
    width: 45px;
    margin: 7px;
    cursor: pointer;
}